{% extends "layout.html" %}

{% block content %}


        {% for keys in DictA.keys() %}
        <div align="center">



        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col"> DataSets</th>
              <th scope="col">True Positive</th>
              <th scope="col">True Negative</th>
              <th scope="col">False Positive</th>
              <th scope="col">False Negative</th>
              <th scope="col">Detection Rate</th>
              <th scope="col">False Alarm Rate</th>
                 <th scope="col"> AUC</th>
              <th scope="col">     Total Time</th>
            </tr>
          </thead>
            <h2>{{keys}}</h2>
          <tbody>
            <tr>


              {% for ket in DictA[keys].keys()  %}




            <th scope="row">{{ DictA[keys][ket]['Name']}}</th>
             <td>{{DictA[keys][ket]['True_Postive']}}</td>
              <td>{{DictA[keys][ket]['True_Negative']}}</td>
              <td>{{DictA[keys][ket]['False_Positive']}}</td>
              <td>{{DictA[keys][ket]['False_Negative']}}</td>
              <td>{{DictA[keys][ket]['Detection_Rate']}} ± {{DictA[keys][ket]['SD_Detection_Rate']}}</td>
              <td>{{DictA[keys][ket]['False_Positive_Rate']}} ± {{DictA[keys][ket]['SD_False_Alarm_rate']}}</td>
                <td>{{DictA[keys][ket]['AUC']}}</td>
              <td>{{DictA[keys][ket]['Total_Time']}}</td>

            </tr>

              {%endfor%}
            {% endfor %}


          </tbody>
        </table>
        </div>
{% endblock content   %}

