{% extends "layout.html" %}

{% block content %}

<div class = "container">
    <div class = "row">
        <div class = "col">
            <h1>Upload File</h1>

            <hr>
            <form action="/upload-file" method="POST" enctype="multipart/form-data">
                 <div class="form-group">
                      <label>Select File</label>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" name="csv" id="csv">
                            <label class="custom-file-label" for="csv">Select File...</label>
                            <div class="form-group">

                            <label for="textfield">Enter Description Here</label>
                            <textarea class="form-control" id="textfield" name="textfield" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload File</button>
                          </div>
        </div>



            </form>>
            {% for posts in status%}
                <th scope="row">{{ posts }}</th>
                {% endfor %}
            <li><h2>File Restrictions and Acceptability</h2></li>
    <p>
        <li> CSV extensions accepted only</li>
        <li> Normal and Anomaly data combined</li>
        <li> Labelled data with "Class" column stating normal and anomaly. 1 for Anomaly and 0 for Normal</li>
        <li> File should be preprocessed (no missind values, numerical features only)</li>
        <li> Results are auto refreshed after completion of training</li>
    </p>
        </div>


        </div>
</div>
<div align="center">


                        <h2>Status</h2>

                        <table class="table table-bordered">

                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Name</th>
                                  <th scope="col">JOB ID</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Date Created</th>
                                </tr>
                              </thead>
                              {% for keys,values in checker.items() %}

                               <tr>
                               <th scope="row">{{ keys}}</th>
                               <td>{{values[0]}}</td>
                               <td>{{values[1]}}</td>
                               <td>{{values[2]}}</td>

                               </tr>
                               {%endfor%}
                          <tbody>

                          </tbody>
                        </table>

                </div>

{% endblock content %}
© 2019 GitHub, Inc.